<h1>Product Question</h1>
<ul>
<?php
$collection=$block->getQuestion();
$checkCustomer = $block->getCustomer();
/** @var $block Magenest\ProductQuestion\Block\Product\View\Attributes */
echo '<p>'.$block->getCustomer().'</p>';
////echo '<h2>'. $customer->getEmail().'</h2>';
foreach ($collection as $question){ ?>
<li>
    <?php

   if($question->getProductId()==$block->getProductId())
    {echo $question->getQuestion();
    }
    ?>
</li>
<?php }
?>
</ul>
<form method="post" action="<?php echo $block->getAction() ?>" id="question_form">
    <input type="hidden" value="<?php echo $block->getProductId();?>" name="product_id">
    <h3>YourName</h3>
    <input type="text" name="author_name"/> <!--required value=""-->
    <h3>Email</h3>
    <input type="text" name="author_email"/> <!--required value=""-->
    <h3>Phone  Number</h3>
    <input type="text" name="telephone_number" />
    <h3>Your Question</h3>
    <input type="text" name="question" />
    <input type="submit" value="Send" style="margin-top : 10px" >
</form>

