<?php
$questions=$block->getCustomerQuestion();
echo '<p>'.$block->getCustomer()->getEmail().'</p>';
?>

<ul>
<?php foreach($questions as $question){
    echo '<li><b>'.$question['question'].'</b></li>';
    $answers=$block->getAnswers($question);
    foreach($answers as $answer){
        echo '<li><u>'.$answer['answer'].'</u></li>';
    }
}
?>
</ul>